/englo-entando-components/plugins/entando-plugin-jpoauth2/target/
/englo-entando-components/plugins/entando-plugin-jpbasecamp/target/
/englo-entando-components/plugins/entando-plugin-jpgithub/target/
/englo-entando-components/plugins/entando-plugin-jptrello/target/
/englo-entando-components/plugins/entando-plugin-jpjenkins/target/
/englo-entando-components/plugins/entando-plugin-jpenglo/target/
englo-portal/target/*
englo-portal/derby.log
englo-portal/derby.log
